<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
        <Property name="basePath">C:\tmp\log</Property>
    </Properties>
    <Appenders>
        # Console appender
        <Console name="stdout" target="SYSTEM_OUT">
            # Pattern of log message for console appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>

   # File appender
        <File name="fout" fileName="C:/tmp/log/app.log"
            immediateFlush="false" append="true">
            # Pattern of log message for file appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </File>
        
        <RollingFile name="rolling-file-appender"
            fileName="${basePath}/app.log"
            filePattern="${basePath}/app.%i.log"
            ignoreExceptions="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="11150 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="rolling-file-appender"/>
            <AppenderRef ref="stdout"/>
        </AsyncRoot>
    </Loggers>
</Configuration>